/* Importing Open Sans Condensed Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
#digital-clock{
    background-color: #0000ff;
    width: 35%;
    margin: auto;
    margin-top: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}